
/* Presets for evertthing */
h1, h2, h3, h4{
  margin: 0px;
  padding: 0px;
  font-family: 'Almarai', sans sans-serif;
  font-weight: bold;


}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 2;
}

