


.background-image {
  /* border: 1px solid red; */
  max-width: 100%;
  height: 86vh;
  display: block;
  background-image: url('https://images.squarespace-cdn.com/content/v1/61fd5b9651305c4f3bdeafb3/119d4b72-ac7d-485a-88f8-b202a2d96ebb/University+District+3.jpg');
  background-position: 80% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#main-nav {
  position: absolute;
  width: 100%;
  height: 14vh;
  background-color: black;

  
}

#main-nav.sticky {
  /* Usesed by js to add fixed positioning at top */
  position: fixed;
  top: 0;
  width: 100%;
}

.logo-box {
  height: 14vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  margin-left: 2rem;
  height:12vh;
}



.menu-icon {
  margin-top:1rem;
  margin-bottom: 1rem;
  color: white;
}

#menu-icon {
  /* border: 1px solid white; */
  padding: 3rem 3rem;
}